{% extends 'flatpages/default.html' %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>Все Статьи</h1>
    <h3>{{ time_now|date:'d M Y' }}</h3> <!-- Здесь мы применяем фильтр date. Он очень похож на метод strftime у даты. С его помощью мы можем выводить дату в нужном нам формате -->
    <hr>
    {% if posts %}
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Описание
                </td>
                <td>
                    Рейтинг
                </td>
                <td>
                    дата
                </td>

            </tr>
        {% for post in posts %}
            <tr>
                <td>
                    {{ post.title }}
                </td>
                <td>
                    {{ post.text|truncatechars:50 }}
                </td>
                <td>
                    {{ post.rating}}
                </td>
                <td>
                    {{post.time_in}}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Статей нет</h2>
    {% endif %}
{% endblock content %}