{% load static %}

<!doctype html>
<html lang="en">


<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" media="all" href="https://germini.info/js/jqvmap/src/jquery-jvectormap.css" />

	<link rel="icon" href="{% static 'assets/images/nts.png' %}" type="image/png" />

	<!-- CSS Просто для демонстрации, не включайте его в свой проект -->
	<!--plugins-->
	<link href="{% static 'assets/plugins/simplebar/css/simplebar.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/metismenu/css/metisMenu.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/highcharts/css/highcharts-white.css' %}" rel="stylesheet" />

	<link href="{% static 'assets/css/anychart-ui.min.css' %}" type="text/css" rel="stylesheet">
	<link href="{% static 'assets/css/anychart-font.min.css' %}" type="text/css" rel="stylesheet">

	<!-- Bootstrap CSS -->
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/app.css' %}" rel="stylesheet">
	<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">
	<!-- Theme Style CSS -->

<!-- 	<link rel="stylesheet" href="{% static 'assets/css/dark-theme.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/semi-dark.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/header-colors.css' %}" /> -->

	<title>NTS-Dashboard</title>

	<style type="text/css">
		.container {
			width: 560px;
			height: 320px;
			margin: 0;
			padding: 0;
		}
	</style>
</head>

<body class="bg-theme bg-theme2">
	<!--wrapper-->
	<div class="wrapper">
		<!--sidebar wrapper -->
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div>
					<img src="{% static 'assets/images/nts1.png' %}" class="logo-icon" alt="logo icon">
				</div>
				<div>
					<h4 class="logo-text">НТС-Лидер</h4>
				</div>
				<div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
				</div>
			</div>


		</div>


		<!-- 11111111///// -->
		<div class="page-wrapper">
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="card radius-15">
						<div class="card-header border-bottom-0">
							<div class="d-lg-flex align-items-center">
								<div>
									<h5 class="mb-2 mb-lg-0">НТС-Общие диаграммы</h5>
								</div>

								<div class="col-md-9">
									<form class="float-md-end">
										<div class="row row-cols-md-auto g-lg-3">
											<label for="inputDate" class="col-md-5 col-form-label text-md-end">Выбор даты</label>
											<div class="col-md-7">
												<input type="date" class="form-control" id="inputDate">
												<form action=" " method="post">
													{% csrf_token %}
													{{ form }}
													<input type="submit" value="Submit">
												</form>
											</div>
										</div>
									</form>
								</div>

							</div>
						</div>
						<!-- <div class="card-body">
														   <div id="chart1"></div>
														</div> -->
						<div class="card-body">
							<div class="chart-area">
								<canvas id="my89Chart" width="500" height="200"></canvas>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



			</div>
		</div>
		<!--end page wrapper -->
		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<footer class="page-footer">
			<p class="mb-0"><a href="https://www.nts-leader.ru/">НТС-Лидер</a> Batulin Alexander © 2021. Все права защищены.
			</p>
		</footer>
	</div>
	<!--end wrapper-->
	<div class="preloader"></div>
	<!--end wrapper-->
	<!-- Bootstrap JS -->
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
	<!--plugins-->
	<script src="{% static 'assets/js/jquery.min.js' %}"></script>

	<script>
		$(function () {
			$('.preloader').hide()
		})
	</script>

	<script src="{% static 'assets/plugins/simplebar/js/simplebar.min.js' %}"></script>
	<script src="{% static 'assets/plugins/metismenu/js/metisMenu.min.js' %}"></script>
	<script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
	<!-- Vector map JavaScript -->
	<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
	<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	<!-- highcharts js -->
	<script src="{% static 'assets/plugins/highcharts/js/highcharts.js' %}"></script>
	<script src="{% static 'assets/plugins/apexcharts-bundle/js/apexcharts.min.js' %}"></script>
	<!-- 	
		<script src="assets/bundles/morrisscripts.bundle.js"></script> -->
	<script src="{% static 'assets/plugins/chartjs/js/chartjs-custom.js' %}"></script>
	<script src="{% static 'assets/plugins/chartjs/js/Chart.min.js' %}"></script>

	 <script src="{% static 'assets/js/jquery.min.js' %}"></script>

	<script src="{% static 'assets/js/index3.js' %}"></script>

	<script src="{% static 'assets/js/anychart-base.min.js' %}"></script>
	<script src="{% static 'assets/js/anychart-ui.min.js' %}"></script>
	<script src="{% static 'assets/js/anychart-exports.min.js' %}"></script>
	<script src="{% static 'assets/js/anychart-annotations.min.js' %}"></script>


	<!--app JS-->
	<script src="{% static 'assets/js/app.js' %}"></script>
	<!-- <script src="assets/demo/demo.js"></script> -->
<!--	<script>-->
<!--		new PerfectScrollbar('.dashboard-top-countries');-->
<!--	</script>-->
</body>

</html>