{% extends 'Post/default.html' %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of comments</title>
</head>
{% block content %}

<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Search">
</form>
</br></br>

{% for comment in filter.qs  %}
    {% if comment.post.author.id == user.id %}
        <small>The following comment if for your post with:
        title: {{ comment.post.title }}; category: {{comment.post.cat }}</small>
</br></br>
        {{ comment.username }} -
<br>
<br>
        {{ comment.text }}
    {{ comment.accepted }}

</br></br>
<form action="{% url 'accepted' comment.id %}" method="POST">
            {% csrf_token %}
    {% if not comment.accepted %}
        <button , ,
                , class="btn btn-dark"
                name="comment.id" type="submit"
                value="{{ comment.id }}">Accept to post</button>
    {% else %}
            <button , ,
                , class="btn btn-danger"
                name="comment.id" type="submit"
                value="{{ comment.id }}">Decline from post</button>
    {% endif %}
<br><br>
     <a href="{% url 'delete_comment' comment.pk %}"
           class="btn btn-light"><u>{% trans "Delete" %}</u></a>
<br><br>
<hr>


    {% else %}
<br><br>
<br><br>
    <strong><font face ='Times New Roman'>there are no comments for your posts</font></strong>
<hr>
    {% endif %}

{% endfor %}

{% endblock %}
</html>