{% extends 'Post/default.html' %}
{% load i18n %}

{% block title %} Updating posts {% endblock title %}

{% block content %}
<h3>{% trans 'editing a text' %}</h3>

{% if user.id == Post.author.id %}

<form method="POST">
    {% csrf_token %}
    {{ form.media }}
    {{ form }} <!-- Теперь нам нужна только готовая форма и кнопка -->
    <input type="submit" value="editing a post">
</form>

{% else %}

Don't try to be funny ! you are not allowed to edit this post!

{% endif %}

{% endblock content %}